.flip12 {
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.5);
    width: 600px;
    height: 350px;
    margin-left: 35%;
    margin-top: 2%;
    transform-style: preserve-3d;
    transition: 3s ease;
  }
  
  .flip12:hover {
    transform: rotateY(180deg);
  }

  .flip12 .content12 {
    transform-style: preserve-3d;
  }
  
  .flip12 .back12, .flip12 .front12 {
    transform-style: preserve-3d;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .flip12 .back12 {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .texts40{
    font-size: 200%;
    text-align: center;
    margin-top: 20%;
    text-shadow: 0 0 3px black;
    color: white;
  }
  .texts41{
    transform: translateZ(90px);
    text-shadow: 0 0 3px black;
    text-align: center;
    width: 80%;
    margin-top: 3%;
    margin-left: 10%;
  }
  .flip12 p {
    font-size: 1em;
    color: #eee;
    line-height: 1.6em;
  }
  
  .flip12::before,
  .flip12::after {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-image: linear-gradient(#d600d6, #fe1616);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotateY(180deg)translateZ(1px);
  }
  
  .flip12::before {
    transform: none;
    background-image: linear-gradient(rgb(37, 219, 244), #f1f41f);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
