.flip12 {
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.5);
  width: 600px;
  height: 350px;
  margin-left: 30%;
  margin-top: 2%;
  transform-style: preserve-3d;
  transition: 3s ease;
}
.flip12:hover {
  transform: rotateY(180deg);
}
.flip12 .content12 {
  transform-style: preserve-3d;
}
.flip12 .back12,
.flip12 .front-12 {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
}
.flip12 .back12 {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.texts40 {
  font-size: 200%;
  text-align: center;
  margin-top: 20%;
  text-shadow: 0 0 3px black;
  color: white;
}
.texts41 {
  transform: translateZ(90px);
  text-shadow: 0 0 3px black;
  text-align: center;
  width: 80%;
  margin-top: 3%;
  margin-left: 10%;
}
.flip12::before,
.flip12::after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-image: linear-gradient(#d68f00, #fed716);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotateY(180deg) translateZ(1px);
}
.flip12::before {
  transform: none;
  background-image: linear-gradient(rgb(37, 44, 244), #1fd4f4);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.BOXES {
  display: flex;
  padding: 3%;
}
.card13 {
  width: 50%;
  height: 500px;
  background: #fff;
  border: 3px solid #000;
  border-radius: 0;
  box-shadow: 15px 15px 15px -2.5px #fff, 15px 15px 0 0 #000;
}
.card14 {
  margin-left: 5%;
  width: 50%;
  height: 500px;
  background: #fff;
  border: 3px solid #000;
  border-radius: 0;
  box-shadow: 15px 15px 15px -2.5px #fff, 15px 15px 0 0 #000;
}
.Pago {
  margin-left: 35%;
  margin-top: 5%;
}
.Pago1 {
  margin-left: 45%;
  margin-top: 5%;
}
.datos {
  width: 80%;
  margin-top: 5%;
  margin-left: 8%;
  text-align: center;
}
.datos1 {
  width: 80%;
  margin-top: 5%;
  margin-left: 10%;
  text-align: center;
}
.flip-cards1 {
  background-color: transparent;
  width: 240px;
  height: 154px;
  margin-top: 8%;
  margin-left: 30%;
  perspective: 1000px;
  color: white;
}
.heading_8264 {
  position: absolute;
  letter-spacing: 0.2em;
  font-size: 0.5em;
  top: 2em;
  left: 18.6em;
}
.logo {
  position: absolute;
  top: 6.8em;
  left: 11.7em;
}
.chip {
  position: absolute;
  top: 2.3em;
  left: 1.5em;
}
.contactless {
  position: absolute;
  top: 3.5em;
  left: 12.4em;
}
.number {
  position: absolute;
  font-weight: bold;
  font-size: 0.6em;
  top: 8.3em;
  left: 1.6em;
}
.valid_thru {
  position: absolute;
  font-weight: bold;
  top: 635.8em;
  font-size: 0.01em;
  left: 140.3em;
}
.date_8264 {
  position: absolute;
  font-weight: bold;
  font-size: 0.5em;
  top: 13.6em;
  left: 3.2em;
}
.name {
  position: absolute;
  font-weight: bold;
  font-size: 0.5em;
  top: 16.1em;
  left: 2em;
}
.strip {
  position: absolute;
  background-color: black;
  width: 15em;
  height: 1.5em;
  top: 2.4em;
  background: repeating-linear-gradient(
    45deg,
    #303030,
    #303030 10px,
    #202020 10px,
    #202020 20px
  );
}
.mstrip {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 8em;
  height: 0.8em;
  top: 5em;
  left: 0.8em;
  border-radius: 2.5px;
}
.sstrip {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 4.1em;
  height: 0.8em;
  top: 5em;
  left: 10em;
  border-radius: 2.5px;
}
.code {
  font-weight: bold;
  text-align: center;
  margin: 0.2em;
  color: black;
}
.flip-card-inner01 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card-front01 {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
}
.flip-card-front01 {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
  background-color: #171717;
}
.cardS12 {
  width: 150px;
  height: 260px;
  background: rgb(0, 0, 0, 0.6);
  box-shadow: 10px 10px 6px rgb(38, 1, 251);
  border: 3px solid rgb(9, 2, 48);
  border-radius: 15px;
  position: relative;
  padding: 5px;
  display: flex;
  margin-top: 2%;
  margin-left: 36%;
  flex-direction: column;
  gap: 22px;
  transition: all 1s ease;
  color: antiquewhite;
}
.responsive12 {
  margin-left: 0%;
  margin-top: -0.5%;
}
.cardS12::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 10px;
  right: 67px;
  border-radius: 50%;
  background-color: rgb(9, 2, 48);
}
.card__date12 {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.time12 {
  text-align: center;
  color: skyblue;
  font-size: 1em;
  margin-top: -15%;
}
.Dinero50 {
  display: flex;
  flex-direction: row;
  margin-top: 10%;
}
.Dar {
  width: 30%;
  height: 50px;
  border-radius: 5px;
  border: 1px rgb(0, 183, 255) solid;
  box-shadow: 1px 1px 6px skyblue;
  margin-left: 12%;
  color: #000;
  font-size: small;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.826);
}
.imagendar {
  margin-top: 4%;
  width: 55%;
}
.Enviar12 {
  margin-left: 1%;
  margin-top: -1%;
}
.Recibir12 {
  margin-left: 1%;
  margin-top: -1%;
}
.Recibir {
  width: 30%;
  height: 50px;
  border-radius: 5px;
  border: 1px rgb(0, 183, 255) solid;
  box-shadow: 1px 1px 6px skyblue;
  margin-left: 15%;
  color: #000;
  font-size: small;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.826);
}
.imagenrecibir {
  margin-top: 4%;
  width: 65%;
}
.destinatario {
  border: 1px rgb(0, 183, 255) solid;
  box-shadow: 1px 1px 6px skyblue;
  width: 80%;
  height: 50px;
  border-radius: 5px;
  color: #000;
  display: flex;
  margin-top: 5%;
  margin-left: 10%;
  background-color: rgba(255, 255, 255, 0.826);
}
.LogoBizum {
  margin-top: 50%;
  width: 100%;
}
.datostext {
  margin-top: 8%;
  margin-left: 8%;
  font-size: 9px;
  width: 500%;
}

@media screen and (max-width: 700px) {
  .flip12 {
    width: 100%;
    height: 320px;
    margin-left: 0;
  }
  .texts41 {
    margin-top: -5%;
    margin-left: -5%;
    text-align: center;
    font-size: 15px;
    width: 110%;
  }
  .BOXES {
    flex-direction: column;
  }

  .card13,
  .card14 {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }

  .Pago,
  .Pago1 {
    margin-left: 0;
  }

  .datos,
  .datos1 {
    width: 100%;
    margin-left: 0;
  }

  .flip-cards1 {
    margin-left: 15%;
    height: 35%;
    width: 75%;
  }

  .cardS12 {
    width: 50%;
    margin-left: 25%;
    height: 55%;
  }
  .logo {
    margin-left: 5%;
  }
  .Dar,
  .Recibir {
    width: 100%;
    height: 100%;
    margin-left: 0;
    text-align: center;
    font-size: 10px;
  }
  .destinatario {
    width: 100%;
    margin-left: 0;
    margin-top: 5%;
  }

  .imagendar,
  .imagenrecibir {
    width: 35%;
  }

  .LogoBizum {
    width: 50%;
    margin-top: 5%;
    margin-left: -25%;
  }

  .datostext {
    margin-left: 0;
    width: 100%;
  }
  .number,
  .valid_thru,
  .date_8264,
  .name {
    margin-left: 0.5%;
  }
  .responsive12 {
    margin-top: -1%;
  }
}
