.Carta0{
  display: flex;
}
.cards1 {
  position: relative;
  width: 760px;
  height: 250px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}

.cards1:hover {
  transform: translateY(-20px);
}

.cards1::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, hsla(44, 100%, 50%, 0.49), hsl(339, 100%, 50%, 0.5));
  border-radius: 1.2em;
}

.cards1::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, hsla(44, 100%, 50%, 0.49), hsl(339, 100%, 50%, 0.5));
  filter: blur(30px);
}

.cards1 span {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  border-radius: 1em;
}

.cards1 span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

.cards1 .content {
  position: relative;
  padding: 10px;
  z-index: 10;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 1em;
}
.texto20{
  width: 40%;
  font-size: medium;
  margin-top: 3%;
}
.texto21{
  width: 40%;
  font-size: medium;
  margin-top: 3%;
}
.container2{
    background-color: rgb(253, 241, 231);
    border-radius: 20px;
    margin-top: 3%;
    margin-left: 5%;
    width: 90%;
    height: auto;
    text-align: center;
}
.Checkbox2{
  margin-top: 1%;
  margin-left: 45%;
}
.Checkbox1{
  margin-top: 1%;
  margin-left: 5%;
}
.buttonAcept2{
  margin-top: 3%;
  margin-left: 47%;
}
.Select1{
  margin-top: -1%;
  background-color: white;
}

.cards2 {
  width: 760px;
  height: 250px;
  background: rgb(103, 225, 255);
  transition: all 0.4s;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
  font-size: 30px;
  font-weight: 900;
}
.imagencards{
  width: 185px;
}
.imagencards1{
  width: 250px;
}
.cards2:hover {
  border-radius: 15px;
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
  background: rgb(103, 151, 255);
}

.first-content {
  height: 100%;
  width: 100%;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  border-radius: 15px;
}

.cards2:hover .first-content {
  height: 0px;
  opacity: 0;
}

.second-content {
  height: 0%;
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: all 0.4s;
  font-size: 0px;
  transform: rotate(90deg) scale(-1);
}

.cards2:hover .second-content {
  opacity: 1;
  height: 100%;
  font-size: 15px;
  transform: rotate(0deg);
}
