.login-card {
  width: 300px;
  margin-top: 10%;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #e8e8e8;
  box-shadow: 2px 2px 10px #ccc;
}
.card-header {
  text-align: center;
  margin-bottom: 20px;
}

.card-header .log {
  margin: 0;
  font-size: 24px;
  color: black;
}

.form-group {
  margin-bottom: 15px;
}

.label134 {
  font-size: 18px;
  margin-bottom: 5px;
}

.input123[type="text"],
.input123[type="password"] {
  width: 100%;
  padding: 12px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: 0.5s;
}

.input123[type="submit"] {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input123[type="submit"]:hover {
  background-color: #ccc;
  color: black;
}
.Admistitle12 {
  margin-top: 6%;
}
.TableVoluntarios {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.th14,
.td13 {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
.th14 {
  background-color: #f2f2f2;
}

.tr12:hover {
  background-color: #f5f5f5;
}
.delete-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.delete-btn:hover {
  background-color: #c82333;
}

.file-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
}

@media screen and (max-width: 700px) {
  login-card {
    width: 80%;
    margin-top: 20%;
  }

  .Admistitle {
    margin-top: 12%;
  }

  .TableVoluntarios {
    margin-top: 10px;
  }

  .input123[type="text"],
  .input123[type="password"],
  .input123[type="submit"] {
    display: block;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .card-header .log {
    font-size: 20px;
  }

  .label134 {
    font-size: 16px;
  }

  .th14,
  .td13 {
    padding: 6px;
    font-size: 14px;
  }

  .delete-btn {
    padding: 6px 10px;
  }
}
