.form-newsadmin {
  margin-bottom: 5%;
}
.newsadmin {
  margin-top: 10%;
}
.news-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.thumbnail {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.news-item {
  margin-bottom: 20px;

  padding: 10px;
  display: flex;
  flex-direction: column;
}

.thumbnail {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.inputlink {
  margin-left: 10px;
}

.inputtitle {
  margin-left: 15px;
}

.inputurl {
  margin-left: 5px;
}
