

.form-newsadmin{
  margin-bottom: 5%;
}

.newsadmin{
margin-top: 10%;
}


.news-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px; 
}


.news-item {
    margin-bottom: 20px;
 
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .thumbnail {
    
    width: 300px;
    height: 200px;
    object-fit: cover;
  }

  
  
  .titlea {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .link {
    text-decoration: none;
    color: blue;
  }
  