@font-face {
  font-family: "MiFuentePersonalizada";
  src: url("../../Fonts/Bevan-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham Black";
  src: url("../../Fonts/1830-font.otf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url("../../Fonts/Poppins-Regular.ttf") format("truetype");
}

.card {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  flex: 1 1 200px;
  margin: 10px;
}
.containerg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
  margin-right: 25px;
}

.cardbadajoz {
  order: 1;
}

.cardcaceres {
  order: 2;
}

.cardmontijo {
  order: 3;
}

.cardmerida {
  order: 5;
}
.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  text-align: center;
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
  font-family: "Gotham Black";
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 17px;
  color: #777;
  line-height: 1.4;
  font-family: "Poppins";
}

.cardbadajoz {
  order: 1;
}

.cardcaceres {
  order: 2;
}

.cardmontijo {
  order: 3;
}

.cardmerida {
  order: 5;
}
.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  text-align: center;
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
  font-family: "Gotham Black";
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 17px;
  color: #777;
  line-height: 1.4;
  font-family: "Poppins";
}

.image-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
