.banner_views {
    position: relative;
  }
  
  .banner_views img {
    width: 100%;
  height: 600px;
   object-fit:fill;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
  }

  @font-face {
    font-family: 'Inria';
    src: url('../../Fonts/InriaSans-Regular.ttf') format('truetype');
    /* Agrega más formatos y rutas para soporte de navegadores diferentes */
  }
  @font-face {
    font-family: 'Single';
    src: url('../../Fonts/SingleDay-Regular.ttf') format('truetype');
    /* Agrega más formatos y rutas para soporte de navegadores diferentes */
  }
  
  .banner_views_text {
   
    /* Ajusta la posición vertical del texto */
     /* Posiciona el texto a 50px del borde derecho */
    color: white; /* Color del texto */
    font-size: 30px; /* Tamaño de fuente del texto */
     /* Ancho del texto */
   
    
     /* Orientación vertical del texto */
     /* Fondo negro transparente */
    /* padding: 10px 10px 10px 10px;  */
  
    font-family: 'Inria';
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    margin: 0;
   

}
.container_content{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  top: 200px;
  left: 150px;
  
  width: 80%;
  height: 300px;
  z-index: 1;
  text-align: center;
  background-color:rgba(0, 0, 0, 0.7) ;
  
  
}

.banner_views_title {
  
   /* Posición del título sobre la imagen */
   /* Ajusta la posición horizontal del título */
  
  color: white; /* Color del título */
  font-size: 45px; /* Tamaño de fuente del título */
  /* Coloca el título encima de la imagen */
  font-family: 'Single'; /* Utiliza tu fuente personalizada */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9); /* Sombra para mejorar la legibilidad */
margin: 0;
}


@media(max-width:768px){
    .banner_views img {
    height: 500px;}


/* .banner-text {
    font-size: 20px;
    width: 50%;
} */
.container_content{
  width: 80%;
  height: 200px;
  left: 50px;
}
.banner_views_title {
  font-size: 30px;
}
.banner_views_text {
  font-size: 20px;
}

}
