.photobanner {
  border: 1px rgba(255, 255, 255, 0) solid;
  height: 450px;
  background-image: url("https://res.cloudinary.com/doft9ylq1/image/upload/v1698914683/pareja-blanca-wanderlust_1_njqb3r.jpg");
  background-size: cover;
  background-position: 1%;
}

.question1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 30%;
  margin: 2% 25%;
  margin-top: 10%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  color: rgb(255, 255, 255);
}

.textQ {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 250%;
}


.social-band {
  display: flex; 
  padding: 20px;
  color: white;
}

.left-side {
  flex: 1;
  text-align: left;
  background: #FF5733; /* Color naranja de fondo para la mitad izquierda */
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: flex-end; /* Alinea los contenidos a la derecha en el lado naranja */
}

.right-side {
  flex: 1;
  text-align: right;
  background: #808080; /* Color gris de fondo para la mitad derecha */
  padding: 20px;
  position: relative;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #FF5733; /* Color naranja para el triángulo */
  position: absolute;
  right: 50%; /* Centra el triángulo en la mitad de la cinta */
}


