

 .textQ {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 250%;
}


.social-band {
  display: flex; 
  padding: 20px;
  color: white;
}

.left-side {
  flex: 1;
  text-align: center;
  background: #EC750E; 
  padding: 10px;
  position: relative;
  display: flex;
  align-items: center;
}

.left-side h2 {
  font-size: 32px; 
  margin: 0;
 margin-left:95px;
}
.triangleF {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 40px solid #EC750E; 
  position: absolute;
  left:48%; 
margin-right: 50px;
margin-top: 30px;
transform: rotate(-90deg);
}


.right-side {
  flex: 1;
  text-align: right;
  background: #323944; 
  padding: 10px;
  position: relative;
  display: flex;
  align-items: center; 

}
.right-side img {
  width:50px; 
  height: auto;
  margin: 10px; 
  margin-left: 500%;
  padding-inline-start: 5px;
}

.lower-band {
  display: flex;
  align-items: center;
  background: #E26890; 
  padding: 10px; 
  position: relative;
  height: 60px; 
  width: 40%;
  margin-left: 1.5%;
}

.lower-left-side {
  flex: 1;
  text-align: left;
}


.lower-triangle {
  width: 0;
  height: 0;
  border-left:40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 40px solid #E26890; 
  position: absolute;
  right: 50%; 
  bottom: -20px; 
}

.lower-title {
  text-align: center; 
  color: white; 
  margin: 0; 
}


.lower-right-side {
  display: flex;
  align-items: center; 
}


.icon {
  width: 44px; 
  height: 44px; 
  margin-left: 10px; 

} 
 
/* @media (max-width: 768px){
  .social-band {display: flex;
    flex-direction: column;
    align-items: center; }
  
} */
