@font-face {
  font-family: "MiFuentePersonalizada";
  src: url("../../Fonts/Bevan-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham Black";
  src: url("../../Fonts/1830-font.otf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url("../../Fonts/Poppins-Regular.ttf") format("truetype");
}
.textQ {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 2.5rem;
}

.social-band {
  display: flex;
  padding: 1px;
  color: white;
  flex-wrap: wrap;
}

.left-side {
  flex: 1;
  text-align: center;
  background: #ec750e;
  padding: 10px;
  position: relative;
  display: flex;
  align-items: center;
  bottom: 600px;
}

.left-side h2 {
  font-size: 30px;
  margin-left: 150px;
  text-align: center;
  font-family: "Gotham Black";
  color: black;
}

.right-side {
  flex: 1;
  text-align: right;
  background: #323944;
  padding: 10px;
  position: relative;
  display: flex;
  align-items: center;
  bottom: 600px;
}

.right-side img {
  width: 2.5rem;
  height: auto;
  margin: 10px;
  margin-left: 40px;
}

.lower-band {
  display: flex;
  align-items: center;
  background: #e26890;
  padding: 10px;
  position: relative;
  width: 50%;
  bottom: 600px;
}

.lower-left-side {
  flex: 1;
  text-align: left;
}

.lower-triangle {
  width: 0;
  height: 0;
  border-left: 4vw solid transparent;
  border-right: 4vw solid transparent;
  border-top: 4vw solid #e26890;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2.8rem;
}

.lower-title {
  text-align: center;
  color: white;
  margin: 0;
  font-family: "Gotham Black";
  font-size: 30px;
}

.lower-right-side {
  display: flex;
  align-items: center;
}

.icon {
  width: 2.75rem;
  margin-left: 105px;
}
@media (max-width: 768px) {
  .triangleF2525 {
    width: 0;
    height: 0;
    border-left: 8vw solid transparent;
    border-right: 8vw solid transparent;
    border-top: 8vw solid #ec750e;
    position: absolute;
    margin-left: -48px;
    margin-bottom: -320px;
  }

  .lower-triangle {
    border-left: 10vw solid transparent;
    border-right: 10vw solid transparent;
    border-top: 10vw solid #e26890;
    position: absolute;
    left: 50%;
    margin-bottom: 7px;
  }
  .lower-title {
    text-align: left;
    color: white;
    font-size: 1rem;
  }

  .lower-right-side {
    display: flex;
    margin-left: -95px;
  }
  .left-side h2 {
    font-size: 1.2rem;
    margin: 0;
    text-align: center;
    border-left: 10vw solid transparent;
    border-right: 10vw solid transparent;
    border-top: 10vw solid #e26890;
    position: absolute;
    left: 50%;
    margin-bottom: 7px;
  }
}
.lower-title {
  text-align: left;
  color: white;
  font-size: 1rem;
}

.containers_map_inform {
  display: flex;
  flex-direction: column;
}

.left-side h2 {
  font-size: 1.2rem;
  margin: 0;
  text-align: center;
}

.left-side {
  bottom: 750px;
}
.right-side {
  bottom: 750px;
}
.lower-band {
  bottom: 750px;
}

.containers_map_inform {
  display: flex;
  flex-direction: column;
}
