
@font-face {
  font-family: 'MiFuentePersonalizada';
  src: url('../../Fonts/Bevan-Regular.ttf') format('truetype');
  /* Agrega más formatos y rutas para soporte de navegadores diferentes */
}

@font-face {
  font-family: 'Gotham Black';
  src: url('../../Fonts/1830-font.otf') format('truetype');
  /* Agrega más formatos y rutas para soporte de navegadores diferentes */
}

@font-face {
  font-family: 'Poppins';
  src: url('../../Fonts/Poppins-Regular.ttf') format('truetype');
  /* Agrega más formatos y rutas para soporte de navegadores diferentes */
}

.title-Proyectos h1 {
  font-size: 40px;
  color: #033239;
  text-align: left;
  padding: 2%;
  text-decoration: underline;
  text-decoration-color: #ec750e;
  text-decoration-thickness: 6px;
  font-family:'Gotham Black';
 
}

.project-container {
  display: flex;
  justify-content: space-between;
}

.card-titlePR {
  color: #5b6169;
  font-size: 1.5em;
  line-height: normal;
  font-weight: 700;
  margin-bottom: 0.2em;
}

.small-desc {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  color: #ffffff;
  margin-top: 1.1em;
}

.go-cornerPR {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 2em;
  height: 2em;
  overflow: hidden;
  top: 0;
  right: 0;
  background: linear-gradient(135deg, #ec750e, #a8530a);
  border-radius: 0 4px 0 32px;
  cursor: pointer;
}

.cardPR {
  display: block;
  position: relative;
  max-width: 300px;
  max-height: 320px;
  border-radius: 10px;
  padding: 3em 3.2em;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  transition: background 0.5s ease-out;
  background-color: #58a4af;
}

.cardPR:hover .go-cornerPR {
  transition: all 0.5s ease-out;
  background: linear-gradient(135deg, #033239, #067787);
}

.project-image {
  margin-top: 52px;

}
  
@media (max-width: 768px) {
  .project-container {
    flex-direction: column;
  }

  .cardPR {
    max-width: 100%;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  .project-image {
    max-width: 100%;
    margin-top: 1px;
    margin-left: 20px;
  }
}
