.boxDC1 {
  background-color: #EC750E;
  padding: 20px;
  color: #033239;
}

.boxDC2 {
  background-color: white;
  padding: 20px;
  margin-left:55px ;
}

.title-Centro_dia h1 {
  font-size: 35px;
  color: #033239;
  text-align: center;
  padding: 2%;
}

.text_DC p {
  font-size: 18px;
  line-height: 1.5;
}

.text-centroD ul {
  list-style-type: disc;
  margin-left: 20px;
}

.text-centroD ul li {
  margin: 10px 0;
  font-size: 16px; 
  color: #033239; 
}

.image-containerCD {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  flex-wrap: wrap;

}

.activity-imageCD1 {

  position: absolute;
  top:900px;
  border-radius: 100%; 
  width: 200px; 
  height: 200px;
  margin-right:500px; 
  margin-top: -2%;
  object-fit:cover;
  border-color: #38929F;
  border-style:groove;
}

.activity-imageCD2 {
  position: absolute;
  top:900px;
  border-radius:100%;
  border-color: #38929F;
  border-style:groove;
  width: 200px;
  height: 200px;
  margin-right: 20px;
  margin-top: -2%;
  object-fit:cover;
}

.activity-imageCD3{
  position: absolute;
  top:900px;
  border-radius:100%;
  border-color: #38929F;
  border-style:groove;
  width: 200px;
  height: 200px;
  margin-left:450px;
  margin-top: -2%;
  object-fit:cover;
}

.activity-imageCD4{
  position: absolute;
  top:900px;
  border-radius:100%;
  border-color: #38929F;
  border-style:groove;
  width: 200px;
  height: 200px;
  margin-left:900px; 
  margin-top: -2%;
  object-fit:cover;
}

.text_DC3 p {
  font-size: 18px;
  line-height: 1.5;
  text-align:justify ;
  margin-bottom: 10px;
}
.boxDC3 {
  background-color: #067787;
  padding: 20px;
  color: #ffffff;
}
.Centro_dia3 {
  /* text-align: left; */
 padding: 2%;
 margin-left: 20px;

}

.text_DC3 ul {
  list-style-type: disc;
  margin-left: 20px;
}

.text_DC3 ul li {
  margin: 10px 0;
  font-size: 16px; 
  color: #ffffff; 
}


.image-container2{
  display: flex;
  flex-direction: column; 
  align-items: center; 
  flex-wrap: wrap;

}

.activity-imageCD5 {

  position: absolute;
  top:1250px;
  border-radius: 100%; 
  width: 200px; 
  height: 200px;
  margin-right:500px; 
  margin-top: -2%;
  object-fit:cover;
  border-color: #38929F;
  border-style:groove;
}

.activity-imageCD6 {
  position: absolute;
  top:1250px;
  border-radius:100%;
  border-color: #38929F;
  border-style:groove;
  width: 200px;
  height: 200px;
  margin-right: 20px;
  margin-top: -2%;
  object-fit:cover;
}

.activity-imageCD7{
  position: absolute;
  top:1250px;
  border-radius:100%;
  border-color: #38929F;
  border-style:groove;
  width: 200px;
  height: 200px;
  margin-left:450px;
  margin-top: -2%;
  object-fit:cover;
}

.activity-imageCD8{
  position: absolute;
  top:1250px;
  border-radius:100%;
  border-color: #38929F;
  border-style:groove;
  width: 200px;
  height: 200px;
  margin-left:900px; 
  margin-top: -2%;
  object-fit:cover;
}

.activity-imageCD1:hover,
.activity-imageCD2:hover,
.activity-imageCD3:hover,
.activity-imageCD4:hover,
.activity-imageCD5:hover,
.activity-imageCD6:hover,
.activity-imageCD7:hover,
.activity-imageCD8:hover {
transform: scale(1.4);
transition: transform 0.3s;
}



@media (max-width: 768px) {
.boxDC1,
.boxDC2,
.boxDC3 {
  margin: 12px;
}

.title-Centro_dia h1,
.title-DC h1,
.Centro_dia3 h1 {
  font-size: 24px;
}

.text_DC p,
.text_DC3 p {
  font-size: 16px;
}

.text-centroD ul li,
.text_DC3 ul li {
  font-size: 14px;
  margin-left: -50px;
}

.activity-imageCD1,
.activity-imageCD2,
.activity-imageCD3,
.activity-imageCD4,
.activity-imageCD5,
.activity-imageCD6,
.activity-imageCD7,
.activity-imageCD8 {
  width: 100px;
  height: 100px;
  margin: 8px;
  margin-top: 90px;
  margin-left: 190px;
}
}