


/* 
.title-Centro_dia{
    display: flex;
    justify-content: center;
    margin-left: 35px;
    width: 95%; 
    border: 1px solid rgba(0, 0, 0, 0.2); 
    
}

.text_DC{
    width: 1100px;
    margin-top: 20px;
    margin-left: 200px;
}
 */
 .boxDC1 {
    background-color: #EC750E;
    padding: 20px;
    color: #033239;
  }
  
  .boxDC2 {
    background-color: white;
    padding: 20px;
    margin-left:55px ;
  }
  
  .title-Centro_dia h1 {
    font-size: 35px;
    color: #033239;
    text-align: center;
    padding: 2%;
  }
  
  .text_DC p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  .text-centroD ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .text-centroD ul li {
    margin: 10px 0;
    font-size: 16px; 
    color: #033239; 
  }

  .image-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 

  }
  
  .activity-image {

    position: absolute;
    top:900px;
    border-radius: 100%; 
    width: 200px; 
    height: 200px;
    margin-right:500px; 
    object-fit:cover;
    border-color: #38929F;
    border-style:groove;
  }
  
  .activity-image1 {
    position: absolute;
    top:900px;
    border-radius:100%;
    border-color: #38929F;
    border-style:groove;
    width: 200px;
    height: 200px;
    margin-right: 20px;
    object-fit:cover;
  }

  .activity-image2{
    position: absolute;
    top:900px;
    border-radius:100%;
    border-color: #38929F;
    border-style:groove;
    width: 200px;
    height: 200px;
    margin-left:450px;
    object-fit:cover;
  }

  .activity-image3{
    position: absolute;
    top:900px;
    border-radius:100%;
    border-color: #38929F;
    border-style:groove;
    width: 200px;
    height: 200px;
    margin-left:900px; 
    object-fit:cover;
  }
  
  .text_DC3 p {
    font-size: 18px;
    line-height: 1.5;
    text-align:justify ;
    margin-bottom: 10px;
  }
  .boxDC3 {
    background-color: #067787;
    padding: 20px;
    color: #ffffff;
  }
  .Centro_dia3 {
    text-align: center;
   padding: 2%;

}

.text_DC3 ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .text_DC3 ul li {
    margin: 10px 0;
    font-size: 16px; 
    color: #ffffff; 
  }
  @media (max-width: 768px) {
    .activity-image,
    .activity-image1,
    .activity-image2,
    .activity-image3 {
      width: 15vw; /* Ancho en unidades de viewport */
      height: 15vw; /* Alto en unidades de viewport */
    }

    .image-container{
        position: absolute;
        top:100px; 
        left: 51px;
       /* position: fixed; */
       flex-wrap: wrap;
       
       
    }
  }