@font-face {
  font-family: "MiFuentePersonalizada";
  src: url("../../Fonts/Bevan-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham Black";
  src: url("../../Fonts/1830-font.otf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url("../../Fonts/Poppins-Regular.ttf") format("truetype");
}

.boxDC1 {
  background-color: #ec750e;
  padding: 20px;
  color: #ffffff;
  padding-bottom: 85px;
}

.boxDC2 {
  background-color: white;
  padding: 20px;
  margin-left: 55px;
}

.title-Centro_dia h1 {
  font-size: 40px;
  color: black;
  text-align: center;
  padding: 1%;
  font-family: "MiFuentePersonalizada";
}

.text_DC p {
  font-size: 17px;
  line-height: 1.5;
  font-family: "Poppins";
  color: black;
}

.title-DC h1 {
  font-family: "Gotham Black";
}

.text-centroD ul {
  list-style-type: disc;
  margin-left: 20px;
}

.text-centroD ul li {
  margin: 10px 0;
  font-size: 17px;
  color: #033239;
  font-family: "Poppins";
}

.image-containerCD {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.activity-imageCD1 {
  position: absolute;
  top: 1000px;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  margin-right: 500px;
  margin-top: -2%;
  object-fit: cover;
  border-color: #38929f;
  border-style: groove;
}

.activity-imageCD2 {
  position: absolute;
  top: 1000px;
  border-radius: 100%;
  border-color: #38929f;
  border-style: groove;
  width: 200px;
  height: 200px;
  margin-right: 20px;
  margin-top: -2%;
  object-fit: cover;
}

.activity-imageCD3 {
  position: absolute;
  top: 1000px;
  border-radius: 100%;
  border-color: #38929f;
  border-style: groove;
  width: 200px;
  height: 200px;
  margin-left: 450px;
  margin-top: -2%;
  object-fit: cover;
}

.activity-imageCD4 {
  position: absolute;
  top: 1000px;
  border-radius: 100%;
  border-color: #38929f;
  border-style: groove;
  width: 200px;
  height: 200px;
  margin-left: 900px;
  margin-top: -2%;
  object-fit: cover;
}

.text_DC3 p {
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 10px;
}
.boxDC3 {
  background-color: #067787;
  padding: 20px;
  color: #ffffff;
}
.Centro_dia3 {
  padding: 1%;
  margin-left: 10px;
}

.Centro_dia3 h1 {
  font-family: "Gotham Black";
  font-size: 25px;
}

.text_DC3 ul {
  list-style-type: disc;
  margin-left: -20px;
}

.text_DC3 ul li {
  margin: 10px 0;
  font-size: 17px;
  color: #ffffff;
  font-family: "Poppins";
}

.image-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.activity-imageCD5 {
  position: absolute;
  top: 1350px;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  margin-right: 450px;
  margin-top: -2%;
  object-fit: cover;
  border-color: #38929f;
  border-style: groove;
}

.activity-imageCD6 {
  position: absolute;
  top: 1350px;
  border-radius: 100%;
  border-color: #38929f;
  border-style: groove;
  width: 200px;
  height: 200px;
  margin-right: 0px;
  margin-top: -2%;
  object-fit: cover;
}

.activity-imageCD7 {
  position: absolute;
  top: 1350px;
  border-radius: 100%;
  border-color: #38929f;
  border-style: groove;
  width: 200px;
  height: 200px;
  margin-left: 465px;
  margin-top: -2%;
  object-fit: cover;
}

.activity-imageCD8 {
  position: absolute;
  top: 1350px;
  border-radius: 100%;
  border-color: #38929f;
  border-style: groove;
  width: 200px;
  height: 200px;
  margin-left: 930px;
  margin-top: -2%;
  object-fit: cover;
}

.activity-imageCD1:hover,
.activity-imageCD2:hover,
.activity-imageCD3:hover,
.activity-imageCD4:hover,
.activity-imageCD5:hover,
.activity-imageCD6:hover,
.activity-imageCD7:hover,
.activity-imageCD8:hover {
  transform: scale(1.3);
  transition: transform 0.3s;
}

.video-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.titlevideo {
  font-size: 23px;
  line-height: 1.5;
  text-align: center;
  color: #065662;
  padding-bottom: 20px;
  padding-top: 80px;
  font-family: "Gotham Black";
}

@media (max-width: 768px) {
  .boxDC1,
  .boxDC2,
  .boxDC3 {
    margin: 12px;
  }

  .title-Centro_dia h1,
  .title-DC h1,
  .Centro_dia3 h1 {
    font-size: 40px;
  }

  .text_DC p,
  .text_DC3 p {
    font-size: 16px;
  }

  .text-centroD ul li,
  .text_DC3 ul li {
    font-size: 14px;
    margin-left: -20px;
  }

  .activity-imageCD1,
  .activity-imageCD2,
  .activity-imageCD3,
  .activity-imageCD4,
  .activity-imageCD5,
  .activity-imageCD6,
  .activity-imageCD7,
  .activity-imageCD8 {
    position: fixed;
  }
}

.video-daycare {
  width: 900px;
  height: 500px;
}

@media (max-width: 768px) {
  .video-daycare {
    width: 90%;
    height: auto;
  }
}
