.help{
    font-size: 35px;
    color: #ec750e;
    text-align: left;
    padding: 2%;
    
}
.containerhelp{
    background-color: #033239;
    padding: 85px;
}
.text-Help{
    font-size: 20px;
    color: #ffffff;
    margin-left: 2%;
    line-height: 1.5;
 
}

.titleHelpSer{
    line-height: 1.8;
    margin-left: 2%;
    padding-left: 55px;
    margin-bottom: 45px;
}

.helpSer{
    font-size: 35px;
    color: #067787;
    text-align: left;
    padding: 2%;
    margin-left:6%;
   
}


.Vibehelp {
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(360deg);
    
    
}

.Vibehelp svg {
    position: relative;
    display:flex;
    width: calc(150% + 0.2em);
    height: 250px;
}

.Vibehelp {
    fill: #58a4af;
}

.image-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.help-card {
    width: 400px;
    border-radius: 15px;
    overflow: hidden;
    margin: 10px;
    transition: transform 0.3s ease-in-out;
}

.help-card:hover {
    transform: scale(1.05);
}

.help-image {
    width: 50%;
    height: 50px;
    object-fit: cover;
}

.Vibehelp {
    fill: #58a4af;
    position: relative;
    top:50px;
}

.Vibehelp svg {
    width: 100%;
    height: auto;
}
.image-container{
    background-color: #ec750e;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px; 
}
