@font-face {
    font-family: 'MiFuentePersonalizada';
    src: url('../../Fonts/Bevan-Regular.ttf') format('truetype');
    
}

@font-face {
    font-family: 'Gotham Black';
    src: url('../../Fonts/1830-font.otf') format('truetype');
    
}

@font-face {
    font-family: 'Poppins';
    src: url('../../Fonts/Poppins-Regular.ttf') format('truetype');

}

.title-revitalization h1 {
  font-family: "MiFuentePersonalizada";
  font-size: 40px;
}

.container_revitalization_info {
  width: 100%;
  height: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.content_revitalization p {
  font-family: "Poppins";
  font-size: 18px;
}

.info_revitalization_info {
  width: 30%;
  height: auto;
  margin: 10px;
  background-color: #cc9e4a;
}

.photografy {
  width: 50%;
  height: auto;

  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 700px) {
  .info_revitalization_info {
    width: 100%;
    height: auto;
  }

  .photografy {
    width: 100%;
    height: auto;
  }
}

.title_info_revitalization {
  width: 100%;
  height: 120px;
}

.title_info_revitalization h2 {
  font-family: "MiFuentePersonalizada";
  font-size: 35px;
  text-align: center;
  color: black;
}

.one_activ {
  width: 100%;
  height: 300px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.one_activ h3 {
  font-family: "Gotham Black";
  font-size: 25px;
  text-align: center;
  color: black;
}

.one_activ p {
  font-family: "Poppins";
  font-size: 18px;
  text-align: start;
  margin-top: 10px;
  color: black;
  width: 80%;
}

.activ_img_revitalization {
  width: 48%;
  height: 900px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.info_activ_img_revitalization {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title_img_revitaliz {
  width: 100%;
  height: 250px;
  border: 2px solid #067787;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  align-items: center;
}

.title_img_revitaliz h3 {
  font-size: 25px;
  font-family: "Gotham Black";
  text-align: center;
  color: black;
}

.title_img_revitaliz p {
  width: 80%;
  font-size: 16px;
  font-family: "Poppins";
  text-align: start;
  margin-top: 10px;
  color: black;
}

@media (max-width: 700px) {
  .activ_img_revitalization {
    max-width: 45%;
    height: 900px;
  }

  .info_activ_img_revitalization {
    width: 55%;
    height: 900px;
  }

  .title_img_revitaliz {
    border: none;
  }

    .title_img_revitaliz {
        border: none;
        margin-top: 70px;
    }

  .title_img_revitaliz p {
    font-size: 15px;
  }
}

.section_title_content_revitalization {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: justify;
  margin-top: 20px;
  background-color: #067787;
  padding-bottom: 50px;
}

.title-revitalization {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  color: white;
  font-family: "Gotham Black";
  font-size: 25px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 1.9);
}

.content_revitalization {
  width: 90%;
  color: white;
  font-family: "Poppins";
  font-size: 18px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1.2);
}

.section_activ_revitalization {
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content_activ {
  width: 25%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title_activ {
  width: 100%;
  height: 30%;
  text-align: center;
}

.text-activ {
  width: 100%;
  height: 70%;
  font-family: "Lexend";
  font-size: 15px;
}

.revitaliz-image {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-color: #38929f;
  border-style: groove;




    border-radius: 100%; 
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-color: #38929F;
    border-style: groove;
}

.revitaliz-image1 {
  border-radius: 100%;
  border-color: #38929f;
  border-style: groove;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.revitaliz-image2 {


    border-radius: 100%;
    border-color: #38929F;
    border-style: groove;
    width: 200px;
    height: 200px;
    object-fit: initial;
}

.revitaliz-image3 {


    border-radius: 100%;
    border-color: #38929F;
    border-style: groove;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

@media (max-width: 768px) {
  .content_activ {
    width: 100%;
    height: 300px;
  }

  .section_activ_revitalization {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
  }
}

.text_finish {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: justify;
  margin-top: 50px;
  background-color: #cc9e4a;
  padding-bottom: 50px;
  margin-left: 20%;
}

@media (max-width: 768px) {
  .text_finish {
    width: 95%;
    height: auto;
    margin-left: 20px;
  }
  .content_revitalization {
    text-align: center;
  }
}