@font-face {
    font-family: 'Sans';
    src: url('../../Fonts/DMSans_18pt-Regular.ttf') format('truetype');
    /* Agrega más formatos y rutas para soporte de navegadores diferentes */
  }

.section_banner_new_stimulation{
    width: 100%;
    height: auto;
    /* border: 2px solid black; */
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
    flex-wrap: wrap;
}

.title_stimulation{
    width: 600px;
    height: auto;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    
    

}
.title_stimulation h1{
    width: 100%;
    font-family:'Sans';
    font-size: 45px;
    margin-top: 80px;
    text-align: center;
    
    

}

.title_stimulation p{
    width: 100%;
    font-family:'Sans';
    font-size:18px;
    margin-top: 40px;

}

.img_stimulation_banner{
    width: 600px;
    height: 600px;
    /* border: 2px solid black; */
    
}
.img_stimulation_banner img{
    width: 100%;
    height: 100%;
     object-fit:cover;
}


.buttons_items{
    width: 100%;
    margin-top: 30px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}

.button_1_info {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: #FF961A;
    color: rgb(0, 0, 0);
    border: #000 solid 1px;
   }
   
   .button_1_info span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
   }
   
   .button_1_info:hover span {
    color: rgb(255, 255, 255);
   }
   
   .button_1_info::before,
   .button_1_info::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
   .button_1_info::before {
    content: "";
    background: #ffffff;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
   }
   
   .button_1_info:hover::before {
    transform: translate3d(100%, 0, 0);
   }

   /* ___________________________________ */

   .button_2_info {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: #1DAFCC;
    color: ghostwhite;
    border: #000 solid 1px;
   }
   
   .button_2_info span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
   }
   
   .button_2_info:hover span {
    color: black;
   }
   
   .button_2_info::before,
   .button_2_info::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
   .button_2_info::before {
    content: "";
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
   }
   
   .button_2_info:hover::before {
    transform: translate3d(100%, 0, 0);
   }
   


