.navbar{
    position: fixed;
    top: 0; /* Lo fija en la parte superior */
    left: 0;
    right: 0;
    z-index: 6000;
    background-color: rgba(0, 0, 0, .8);
    height: 100px;
    width: 99.9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s;
    
    
}

.navbar.scrolled {
    background-color: #067787; /* Cambiar a tu color deseado */
    /* Otros estilos al desplazar */
    
  }

@font-face {
    font-family: 'Inter';
    src: url('../../Fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
    /* Agrega más formatos y rutas para soporte de navegadores diferentes */
  }

 
.nav_logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -99px;
    height: 100px;
    width: 130px;
}

.tulipan{
    width: 40px;
    height: 40px;
    margin-left: 50px;
}

.nav_logo img{
   
    width: 100%;
     margin-left: 40px;
    color: white;
    transition: transform 0.3s;

}

.nav_logo img:hover{
    transform: scale(1.2);
}
.nav_items{
    display: flex;
    flex-direction: row;
}
.nav_items a{
    margin: 25px;
    color: white;
    position: relative;
    text-decoration: none;
    font-size: 19px;
    font-family:'Inter';
    
}

.menu-horizontal{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    
    
}

.nav_toggle{
    display: none;
}

.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, .5);
    padding-left: 0; /* Agregamos transición */
    animation: fadeInDown 0.9s ease forwards; 
}

@keyframes fadeInDown {
    from {
      max-height: 0;
      opacity: 0;
    }
    to {
      max-height: 500px; /* Muestra el menú */
      opacity: 1; /* Hace visible el menú */
    }
  }
  

.menu-horizontal > li {
    position: relative;
  }

  .menu-horizontal > li:hover .menu-vertical {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    width: 200px; /* Ajusta el ancho según sea necesario */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
    
    
}

.nav_items li:hover .menu-vertical{
    display: block;
}

.menu-vertical li:hover{
    width: 200px;
    background-color:#FF961A;
    padding: 1px 0px 1px 0px;
}

.menu-vertical li a{
    display: block;
    color: white;
    padding: 2px 1px 1px 1px;

}

.login-card {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #e8e8e8;
  box-shadow: 2px 2px 10px #ccc;
}

.card-header {
  text-align: center;
  margin-bottom: 20px
}

.card-header .log {
  margin: 0;
  font-size: 24px;
  color: black;
}

.form-group {
  margin-bottom: 15px;
}

.label134 {
  font-size: 18px;
  margin-bottom: 5px;
}

.input123[type="text"], .input123[type="password"] {
  width: 100%;
  padding: 12px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: 0.5s;
}

.input123[type="submit"] {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input123[type="submit"]:hover {
  background-color: #ccc;
  color: black;
}

@media(max-width:768px){
    .menu-horizontal{
        width: 80%;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items:center;
        
        
        
    }
    .menu-horizontal a{
    display: flex;
        
        
    }
    .nav_items {
        position:absolute;
        top:90px;
        left:0;
        background: #000000;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 900px;
        transform: translateX(-100%);
        transition: 0.3s ease all;
        z-index: 3;
    }
    .nav_items.open{
        transform: translateX(0) !important;
    }
    .nav_toggle{
        display: flex !important;
        flex-direction: column;
        margin: 15px;
        
    }

    .nav_toggle span{
        width:30px;
        height: 4px;
        background: white;
        margin-bottom: 5px;
        border-radius: 2px;
        transform-origin: 5px 0px;
        transition: all 0.2s linear;

    }
    .nav_toggle.open > span{
        transform: rotate(45deg) translate(0px,0px);    
    }
    .nav_toggle.open >span:nth-child(2){
        display:none;
    }
    .nav_toggle.open > span:nth-child(3){
        transform: rotate(-45deg) translate(-5px,1px);
    }

    /* .menu-vertical{
        position: static;
        display: none;
        list-style: none;
        width: auto;
        height: auto;
    
    } */

    .menu-horizontal > li {
        position: relative;
      }
    
      .menu-horizontal > li:hover .menu-vertical {
        display: block;
        position: static; /* Cambiado de absolute a static */
        top: auto;
        left: auto;
        width: auto;
        border: 1px solid rgb(255, 255, 255);
        list-style: none;
        
}
.menu-vertical li {
    background-color: rgba(0, 0, 0, 0.9); /* Color blanco con una opacidad del 90% */
    /* Otros estilos... */
}


.menu-vertical li:hover{
    background:linear-gradient(45deg,red,yellow);
    width: 100%
    
}

.menu-vertical li a {
    color: rgb(255, 255, 255); /* Cambia el color del texto para que sea visible en el fondo blanco */
    /* Otros estilos... */
}

}

.menu-horizontal{
    list-style-type: none;
 }
 
