@font-face {
  font-family: 'MiFuentePersonalizada';
  src: url('../../Fonts/Bevan-Regular.ttf') format('truetype');
  /* Agrega más formatos y rutas para soporte de navegadores diferentes */
}

@font-face {
  font-family: 'Gotham Black';
  src: url('../../Fonts/1830-font.otf') format('truetype');
  /* Agrega más formatos y rutas para soporte de navegadores diferentes */
}

@font-face {
  font-family: 'Poppins';
  src: url('../../Fonts/Poppins-Regular.ttf') format('truetype');
  /* Agrega más formatos y rutas para soporte de navegadores diferentes */
}

.Bodys {
    margin-top: 3%;
    padding: 0px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
  }
  .demoPage {
    text-align: center;
    border: 5px black solid;
    background-color: white;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5) inset;
    
  }


  .pakinson-p{
    margin-top: 5px;
    font-size: 14px;
  }

  .parkinson-ul{
    margin-top: 10px;
    font-size: 14px;
  }

  .parkinson-li{
    margin-top: 10px;
    font-size: 14px;
  }

  .parkinson-what{
    margin-top: 10px;
    font-size: 10px;
  }

  .parkinson-si{
    margin-top: 10px;
    font-size: 10px;
  }

  .img-book{
    width: 49%;
  }

  .parkinson-h1{
    margin-top: -20px;
    
  }


  @media screen and (max-width: 700px) {
    .demoPage {
      padding: 20px; /* Ajusta el espaciado interior */
    }
  
    .img-book {
      width: 50%; /* Haz que la imagen sea del ancho completo del contenedor */
    }
  
    /* Reducir el tamaño del flipbook */
    .Bodys {
      margin-top: 3%;
      padding: 0px;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family:'Poppins';
    }
  
    .Bodys > HTMLFlipBook {
      width: 40%; /* Reduce el ancho del flipbook */
      height: auto; /* Permitir que el alto se ajuste automáticamente */
    }

    
  }
















