/* .background-evolution{
    background-image: url(https://res.cloudinary.com/dit2zhtwz/image/upload/v1699211988/istockphoto-1445326229-612x612_yzfeih.jpg);
    margin: 0;
} */

.timeline {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 60px;
  }
  
  .timeline-item {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: white; /* Color de fondo predeterminado (blanco) */
  }
  
  /* Estilo para la etapa 0 (verde) */
  .timeline-item.stage-0:hover {
    background-color: green; /* Cambia el color al verde cuando se hace hover */
  }
  
  /* Estilo para las etapas 1 y 2 (amarillo) */
  .timeline-item.stage-1:hover,
  .timeline-item.stage-2:hover {
    background-color: rgb(231, 231, 86); /* Cambia el color al amarillo cuando se hace hover */
  }
  
  /* Estilo para las etapas 3 y 4 (naranja) */
  .timeline-item.stage-3:hover,
  .timeline-item.stage-4:hover {
    background-color: orange; /* Cambia el color al naranja cuando se hace hover */
  }
  
  /* Estilo para la etapa 5 (rojo) */
  .timeline-item.stage-5:hover {
    background-color: red; /* Cambia el color al rojo cuando se hace hover */
  }
  
  .description {
    margin-top: 20px;
    margin-left: 35%;
    text-align: center;
    font-weight: bold;
    position:absolute;

  }

  .h1evolution{
    margin-top: 50px;
  }
  


.grid-layout{
display: grid;
grid-template-columns: auto auto auto auto auto auto;
grid-template-rows: auto auto;
width: 90%;
margin: 0 auto;
margin-top: 50px;
/* background-color: aqua; */
padding: 20px;
/* border: 1px solid black; */
}

  .box{
    /* width: 150px;
    height: 150px; */
    border: 4px solid black;
    text-align: center;
    /* line-height: 150px; */
  
  }
.b1{
    grid-column: 1/3;
    background-color: rgb(231, 231, 86);
}
.b2{ 
    grid-column: 3/5;
    background-color: rgb(255, 132, 0);
}

.b3{
    grid-column: 5/7;
    background-color: red;
}
.b4{
    background-color: rgb(237, 237, 141); 
}

.b5{
    background-color: rgb(237, 237, 141);  
}

.b6{
    grid-column: 3/5;
    background-color: rgb(240, 173, 102);
}

.b7{
    grid-column: 5/7;
    background-color: rgb(239, 94, 94);
}

.li-state {
    padding: 15px;
    text-align: left;  
    
}