.card{
    position: relative;
    width: 250px;
    height: 350px;
    margin-top: 40px;
    margin-left: 40px;
}

.card .card_landing{
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 10px #000;
    background-color: #2C29BD;
    z-index: 100;
}

.card .card_landing h1 {
    position: absolute;
    font-size: 28px;
    left: 1%;
    bottom: 55%;
    color: #fff
}

.card .card_info {
    position: absolute;
    width: 80%;
    height: 90%;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    margin: auto;
    padding: 15px;
    background: #DC7000;
    z-index: 90;
    box-shadow: 0 5px 10px #000;
    transition: .5s;
}

.title{
   margin-top: 50px; 
   margin-left: 0px;
}

.card:hover .card_info {
    left: 100%;
}