.photobanner {
    height: 500px;
    background-image: url("https://res.cloudinary.com/dit2zhtwz/image/upload/v1698744222/pareja-alegre-celebracion-icono-votacion-sentado-sofa_53876-24976_kke7zn.jpg");
    background-size:cover; 
    border: 1px rgba(255, 255, 255, 0) solid; 
}

.questions{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 50%;
  margin: 12% 15%;
  background-color: rgba(0, 0, 0, 0.491);
  color: rgb(255, 255, 255);
}


.titlecard{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    font-size: 25px;
}

.cardmyth{
  margin-top: 30px;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

   .cardd {
    width: 40rem;
    cursor: pointer;
    padding: 20px;
  }
  
  .content {
    text-align: center;
    position: relative;
    transition: all 2.25s;
    padding: 5em;
    transform-style: preserve-3d;
  }
  
  .cardd:hover .content {
    transform: rotateY(0.5turn);
  }
  
  .front1, .front2, .front3, .front4, .front5, .front6, .front7, .front8, .front9, .front10, .front11, .front12,
  .back1, .back2, .back3, .back4, .back5, .back6, .back7, .back8, .back9, .back10, .back11, .back12{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 2em;
    transform-style: preserve-3d;
    backface-visibility: hidden;
  }

  .front1{
background-image: url(https://res.cloudinary.com/dit2zhtwz/image/upload/v1699552673/istockphoto-1359115367-612x612-removebg-preview_tyqo5e.png);
background-repeat: no-repeat;
background-size: contain;
background-color: rgb(127, 204, 240);
  }

  .front2{
    background-image: url(https://res.cloudinary.com/dit2zhtwz/image/upload/v1699553128/224f98e21ecd8a19a6c26fc497b39b4f-removebg-preview_k4ths2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(127, 204, 240);
  }

  .front3{
    background-image: url(https://res.cloudinary.com/dit2zhtwz/image/upload/v1699555206/Captura_de_pantalla_2023-11-09_193814-removebg-preview_bnis3o.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(127, 204, 240);
  }

  .front4{
    background-image: url(https://res.cloudinary.com/dit2zhtwz/image/upload/v1699555945/Captura_de_pantalla_2023-11-09_195131-removebg-preview_tmmgoj.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(127, 204, 240);
  }

  .front5{
    background-image: url(https://res.cloudinary.com/dit2zhtwz/image/upload/v1699555695/Captura_de_pantalla_2023-11-09_194721-removebg-preview_mrcd6w.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(127, 204, 240);
  }

  .front6{
    background-image: url(https://res.cloudinary.com/dit2zhtwz/image/upload/v1699965901/Captura_de_pantalla_2023-11-14_134259-removebg-preview_iv9knr.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(127, 204, 240);
  }

  .front7{
    background-image: url(https://res.cloudinary.com/dit2zhtwz/image/upload/v1699556181/Captura_de_pantalla_2023-11-09_195528-removebg-preview_qnhxse.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(127, 204, 240);
  }

  .front8{
    background-image: url(https://res.cloudinary.com/dit2zhtwz/image/upload/v1699556474/Captura_de_pantalla_2023-11-09_195950-removebg-preview_x6r7cu.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(127, 204, 240);
  }

  .front9{
    background-image: url(https://res.cloudinary.com/dit2zhtwz/image/upload/v1699556918/Captura_de_pantalla_2023-11-09_200700-removebg-preview_uh6pdc.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(127, 204, 240);
  }

  .front10{
    background-image: url(https://res.cloudinary.com/dit2zhtwz/image/upload/v1699556694/Captura_de_pantalla_2023-11-09_200405-removebg-preview_xanojz.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(127, 204, 240);
  }

  .front11{
    background-image: url(https://res.cloudinary.com/dit2zhtwz/image/upload/v1699557051/Captura_de_pantalla_2023-11-09_201000-removebg-preview_i9jjr7.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(127, 204, 240);
  }

  .front12{
    background-image: url(https://res.cloudinary.com/dit2zhtwz/image/upload/v1699556595/Captura_de_pantalla_2023-11-09_200220-removebg-preview_tf6dyb.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(127, 204, 240);
  }


  
  .titles {
    transform: translateZ(5rem);
    font-size: 2rem;
    margin-top: -30px;
    margin-left: 420px;
  }
  
  .subtitle {
    margin-top: 9px;
    margin-left: 20px;
    text-align: right;
    /* color: white; */
    transform: translateZ(2rem);
  }
  
  .back1 {
    transform: rotateY(0.5turn);
    background-color: #ffae00;
    background-image: url(https://res.cloudinary.com/dit2zhtwz/image/upload/v1699554699/Captura_de_pantalla_2023-11-09_193009-removebg-preview_aap9pz.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .back2{
    transform: rotateY(0.5turn);
    background-color: #ffae00;
    background-image: url(https://res.cloudinary.com/dit2zhtwz/image/upload/v1699555017/Captura_de_pantalla_2023-11-09_193546-removebg-preview_pfmk5q.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .back3{
    transform: rotateY(0.5turn);
    background-color: #ffae00;
    background-image: url(https://res.cloudinary.com/dit2zhtwz/image/upload/v1699604228/Captura_de_pantalla_2023-11-10_091426-removebg-preview_hhufqh.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .back4{
    transform: rotateY(0.5turn);
    background-color: #ffae00;
    background-image: url(https://res.cloudinary.com/dit2zhtwz/image/upload/v1699604431/Captura_de_pantalla_2023-11-10_091912-removebg-preview_jzrj2z.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .back5{
    transform: rotateY(0.5turn);
    background-color: #ffae00;
    background-image: url(https://res.cloudinary.com/dit2zhtwz/image/upload/v1699604581/Captura_de_pantalla_2023-11-10_092204-removebg-preview_ceq9pt.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .back6{
    transform: rotateY(0.5turn);
    background-color: #ffae00;
    background-image: url(https://res.cloudinary.com/dit2zhtwz/image/upload/v1699604796/Captura_de_pantalla_2023-11-10_092416-removebg-preview_uldugg.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .back7{
    transform: rotateY(0.5turn);
    background-color: #ffae00;
    background-image: url(https://res.cloudinary.com/dit2zhtwz/image/upload/v1699604909/Captura_de_pantalla_2023-11-10_092727-removebg-preview_qrrhgp.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .back8{
    transform: rotateY(0.5turn);
    background-color: #ffae00;
    background-image: url(https://res.cloudinary.com/dit2zhtwz/image/upload/v1699605209/Captura_de_pantalla_2023-11-10_093000-removebg-preview_cn7uol.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .back9{
    transform: rotateY(0.5turn);
    background-color: #ffae00;
    background-image: url(https://res.cloudinary.com/dit2zhtwz/image/upload/v1699605402/Captura_de_pantalla_2023-11-10_093443-removebg-preview_e060r4.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .back10{
    transform: rotateY(0.5turn);
    background-color: #ffae00;
    background-image: url(https://res.cloudinary.com/dit2zhtwz/image/upload/v1699606057/Captura_de_pantalla_2023-11-10_094625-removebg-preview_lr2a9p.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .back11{
    transform: rotateY(0.5turn);
    background-color: #ffae00;
    background-image: url(https://res.cloudinary.com/dit2zhtwz/image/upload/v1699606295/Captura_de_pantalla_2023-11-10_094916-removebg-preview_bmhtub.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .back12{
    transform: rotateY(0.5turn);
    background-color: #ffae00;
    background-image: url(https://res.cloudinary.com/dit2zhtwz/image/upload/v1699606413/Captura_de_pantalla_2023-11-10_095234-removebg-preview_l4kwfz.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .description {
    /* margin-left: 100px; */
    text-align: end;
    margin-top: 10px;
    font-weight: bold;
    /* margin-left: -30px; */
    transform: translateZ(3rem);
  }
  





  @media screen and (max-width: 700px) {
    .photobanner {
      height: 300px; 
    }
  
    .questions {
      width: 90%; 
      margin: 8% 5%; 
    }


    .myths{
margin-left: 25px;
    }

    .vs{
      margin-left: 50px;
    }
  
    .titlecard {
      flex-direction: column; 
      margin-top: 30px; 
      margin-left: 120px;
      font-size: 20px; 
    }
  
    .cardmyth {
      margin-top: 20px; 
      justify-content: center; 
    }
  
    .cardd {
      width: 90%; 
      margin-bottom: 20px; 
    }
  
    .content {
      padding: 3em; 
    }
  
    .title {
      font-size: 1.5rem; 
      margin-left: 0; 
    }
  
    .subtitle {
      margin-left: 0; 
      text-align: center; 
    }
  
    .description {
      text-align: center; 
    }
   

    .front1, .front2, .front3, .front4, .front5, .front6, .front7, .front8, .front9, .front10, .front11, .front12 {
      background-image: none;
      height: 80px;
    }


    .back1, .back2, .back3, .back4, .back5, .back6, .back7, .back8, .back9, .back10, .back11, .back12 {
      background-image: none;
      height: 80px;
    }


  }


