.resources-container {
  margin: 0 auto;
  padding: 20px;
}

.file-upload-section {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
}

.file-preview {
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.file-preview:hover {
  background-color: #f0f0f0;
}

.file-preview.selected {
  background-color: #e0e0e0;
}

.pdf-viewer-container {
  width: 100%;
  height: 500px; /* Altura fija del contenedor, ajusta según tus necesidades */
  overflow-y: auto; /* Agrega una barra de desplazamiento vertical cuando sea necesario */
  margin-top: 10px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

h2, h3 {
  margin-bottom: 10px;
  color: #333;
}

h3 {
  font-size: 18px;
}

.pdf-viewer {
  width: 100%;
  max-height: 100%; /* Altura máxima del visor dentro del contenedor */
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}