
.photobanner1 {
  height: 500px;
  background-image: url("https://res.cloudinary.com/dit2zhtwz/image/upload/v1698917550/istockphoto-1434534146-612x612_c5rz28.jpg");
  background-size: cover;
  border: 1px rgba(255, 255, 255, 0) solid;
}

@font-face {
  font-family: "MiFuentePersonalizada";
  src: url("../../Fonts/Bevan-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham Black";
  src: url("../../Fonts/1830-font.otf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url("../../Fonts/Poppins-Regular.ttf") format("truetype");
}

.what {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.title-parkinson {
  background-color: orange;
  display: flex;
  justify-content: center;
  margin-left: 35px;
  width: 95%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.text-parkinson {
  width: 1100px;
  margin-top: 20px;
  margin-left: 200px;
  font-size: 20px;
}

.text-parkinson {
  width: 1100px;
  margin-top: 20px;
  margin-left: 200px;
  font-size: 20px;
}


@font-face {
  font-family: "MiFuentePersonalizada";
  src: url("../../Fonts/Bevan-Regular.ttf") format("truetype");
  /* Agrega m치s formatos y rutas para soporte de navegadores diferentes */
}

@font-face {
  font-family: "Gotham Black";
  src: url("../../Fonts/1830-font.otf") format("truetype");
  /* Agrega m치s formatos y rutas para soporte de navegadores diferentes */
}

@font-face {
  font-family: "Poppins";
  src: url("../../Fonts/Poppins-Regular.ttf") format("truetype");
  /* Agrega m치s formatos y rutas para soporte de navegadores diferentes */
}

.demoPage {
  text-align: center;
  border: 5px black solid;
  background-color: white;
  display: flex;
  border-radius: 10px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5) inset;
}

.pakinson-p {
  margin-top: 5px;
  margin-left: 25%;
  font-size: 10px;
  width: 50%;
}

.parkinson-ul {
  margin-top: 10px;
  font-size: 10px;
}

.parkinson-li {
  margin-top: 10px;
  font-size: 10px;
  list-style-type: none; 
}

.parkinson-what {
  margin-top: 10px;
  font-size: 10px;
}

.parkinson-si {
  margin-top: 10px;
  font-size: 10px;
  list-style-type: none; 
}

.img-book {
  width: 49%;
}

.parkinson-h1 {
  margin-top: -20px;
}
.img-book {
  width: 50%; /* Haz que la imagen sea del ancho completo del contenedor */
}

/* Reducir el tama침o del flipbook */
.Bodys {
  margin-top: 3%;
  padding: 0px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  margin-bottom: 3%;
}


@media screen and (max-width: 700px) {
  .parkinson-what,
  .parkinson-si {
    margin-left: 40px; /* Adjust margin for smaller screens */
  }

  .parkinson-h1,
  .parkinson-li {
    font-size: 19px; /* Adjust font size for smaller screens */
  }

  .parkinson-p {
    font-size: 8px;
    margin-left: 1%; /* Adjust font size for smaller screens */
  }

  .img-book {
    width: 50%; 
  }

  .demoPage {
    width: 20%;
    font-size: 10px;
   }
  .Bodys {
    margin-top: 3%;
    margin-bottom: 5%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  .Bodys > HTMLFlipBook {
    max-width: 600px;
  }
}