.intro_Aboutus {
  width: 100%;
  height: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: "MiFuentePersonalizada";
  src: url("../../Fonts/Bevan-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham Black";
  src: url("../../Fonts/1830-font.otf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url("../../Fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lexend";
  src: url("../../Fonts/LexendMega-VariableFont_wght.ttf") format("truetype");
}

.btn_donar_Aboutus {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 25px 20px 22px;
  box-shadow: rgba(10, 37, 64, 0.7) 0px -2px 6px 0px inset;
  background-color: #f3266a;
  border-color: #f32626;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  font-size: 25px;
  font-weight: 900;
  color: white;
  font-family: monospace;
  transition: transform 400ms cubic-bezier(0.68, -0.55, 0.27, 2.5),
    border-color 400ms ease-in-out, background-color 400ms ease-in-out;
  word-spacing: -2px;
  margin-top: 20px;
  cursor: pointer;
  margin: 20px;
}

@keyframes movingBorders {
  0% {
    border-color: #fce4e4;
  }

  50% {
    border-color: #ffd8d8;
  }

  90% {
    border-color: #fce4e4;
  }
}

.btn_donar_Aboutus:hover {
  background-color: #eee;
  transform: scale(105%);
  animation: movingBorders 3s infinite;
  color: black;
}

.btn_donar_Aboutus svg {
  margin-right: 11px;
  fill: rgb(255, 2, 2);
  transition: opacity 100ms ease-in-out;
}

.infor_asociation {
  width: 100%;
  height: auto;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.container_img_text__obj {
  width: 40%;
  height: 400px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 700px) {
  .container_img_text__obj {
    width: 100%;
    height: auto;
  }
}

.container_img_text__obj img {
  width: 90%;
  height: 350px;
  border-radius: 15px;
  object-fit: cover;
}

#img_img {
  display: flex;
  flex-direction: column;
  align-items: start;
}

#text_text h2 {
  font-family: "MiFuentePersonalizada";
  font-size: 40px;
  letter-spacing: -1px;
  text-align: left;
  color: black;
}

#text_text h3 {
  font-family: "Gotham Black";
  font-size: 24px;
  letter-spacing: -1px;
  text-align: left;
  color: black;
}

#text_text p {
  font-family: "Poppins";
  width: 80%;
  font-size: 18px;

  text-align: left;
  margin-top: 20px;
  color: black;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .btn_donar_Aboutus {
    width: 180px;
  }

  #text_text h2 {
    text-align: center;
    margin-top: 30px;
  }

  #text_text h3 {
    text-align: center;
  }

  #text_text p {
    width: 80%;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
  }

  #img_img {
    margin: 40px;
    align-items: center;
  }
}

.filled {
  position: absolute;
  opacity: 0;
  top: 20px;
  left: 22px;
}

@keyframes beatingHeart {
  0% {
    transform: scale(1);
  }

  15% {
    transform: scale(1.15);
  }

  30% {
    transform: scale(1);
  }

  45% {
    transform: scale(1.15);
  }

  60% {
    transform: scale(1);
  }
}

.btn_donar_Aboutus:hover .empty {
  opacity: 0;
}

.btn_donar_Aboutus:hover .filled {
  opacity: 1;
  animation: beatingHeart 1.2s infinite;
}

.section_cards_values {
  width: 100%;
  height: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #067787;
  margin-bottom: 100px;
}

.card_value {
  border: 3px solid black;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 300px;
}

.card_value {
  position: relative;
  width: 400px;
  height: 250px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  overflow: hidden;
}
.card_value img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  transition: opacity 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay-text {
  font-size: 35px;
  color: white;
  font-weight: 900px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  opacity: 1;
  font-family: "MiFuentePersonalizada";
}

.card_value:hover .overlay-text {
  opacity: 0;
}

.card_value svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card_value:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: Black;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
}

.card_value:hover .card__content {
  transform: rotateX(0deg);
  z-index: 2;
}

.card__title {
  margin: 0;
  font-size: 15px;
  color: white;
  font-weight: 700;
}

.card_value:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 18px;
  color: white;
  line-height: 1.4;
}

.section_workers {
  width: 100%;
  height: auto;

  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.title_workers_cards {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.title_equipment {
  width: 100%;
  height: auto;
}

.title_workers_cards h1 {
  width: 50%;
  text-align: start;
  font-family: "MiFuentePersonalizada";
  font-size: 50px;
  margin-left: 150px;
  background-color: #ec750e;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  padding: 10px;
}

.title_workers_cards h3 {
  width: 100%;
  text-align: center;
  font-family: "Gotham Black";
  font-size: 40px;
  color: black;
  margin-top: 50px;
  margin-bottom: 30px;
}

.title_workers_cards p {
  width: 40%;
  text-align: start;
  font-family: "Poppins";
  font-size: 18px;
  margin-left: 20px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .title_workers_cards h1 {
    width: 90%;
    margin-left: 15px;
    font-size: 45px;
  }
  .title_workers_cards p {
    width: 90%;
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 30px;
  }
}

.card_worker {
  width: 610px;
  height: 350px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title_therapeutics {
  width: 100%;
  height: auto;

  margin-top: 80px;
}
.title_therapeutics h3 {
  width: 100%;
  text-align: center;
  font-family: "Gotham Black";
  font-size: 40px;
  color: black;
}

.title_direction_admin {
  width: 100%;
  height: auto;

  margin-top: 80px;
}
.title_direction_admin h3 {
  width: 100%;
  text-align: center;
  font-family: "Gotham Black";
  font-size: 40px;
  color: black;
}

.title_auxiliaries {
  width: 100%;
  height: auto;

  margin-top: 80px;
}
.title_auxiliaries h3 {
  width: 100%;
  text-align: center;
  font-family: "Gotham Black";
  font-size: 40px;
  color: black;
}
.section_img_worker {
  width: 50%;
  height: 100%;
}

.section_content_worker {
  width: 50%;
  height: 100%;
  background-color: #ff961a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  font-family: "Poppins";
  color: black;
}

.name_worker {
  margin-top: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
  font-size: 22px;
  font-family: "Gotham Black";
  text-align: center;
  color: white;
}

.section_content_worker p {
  width: 90%;
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
}

.img_worker {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 700px) {
  #card2,
  #card4 {
    display: flex;
    flex-direction: row;
  }

  #card2 .section_content_worker {
    order: 1;
  }

  #card2 .section_img_worker {
    order: 2;
  }

  #card4 .section_content_worker {
    order: 2;
  }

  #card4 .section_img_worker {
    order: 1;
  }

  .section_content_worker {
    font-size: 13px;
  }
}

.section_img_worker {
  position: relative;
}

.triangle {
  position: absolute;
  top: 0;
  right: -50px;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 50px solid #ff961a;
  transform-origin: top left;
  transform: rotate(45deg);
}
#triangle3,
#triangle4 {
  position: absolute;
  top: 70px;
  right: 326px;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 50px solid #ff961a;
  transform-origin: top left;
  transform: rotate(225deg);
}

@media (max-width: 768px) {
  #triangle2 {
    top: 70px;
    right: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 50px solid #ff961a;
    transform-origin: top left;
    transform: rotate(225deg);
  }
  #triangle3 {
    top: 0;
    right: -50px;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 50px solid #ff961a;
    transform-origin: top left;
    transform: rotate(45deg);
  }

  #triangle4 {
    top: 70px;
    right: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 50px solid #ff961a;
    transform-origin: top left;
    transform: rotate(225deg);
  }
}

.line_left {
  border-top: 5px solid #ec750e;
  margin-top: 20px;
  width: 60%;
  margin-left: 70px;
}
.line_right {
  border-top: 5px solid #ec750e;
  margin-top: 20px;
  width: 60%;
  margin-left: 550px;
  margin-bottom: 100px;
}

.line_medium {
  border-top: 3px solid #067787;
  margin-top: 20px;
  width: 60%;
  margin-left: 20%;
  margin-bottom: 100px;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .line_left {
    border-top: 5px solid #ec750e;
    margin-top: 20px;
    width: 60%;
    margin-left: 20px;
  }
  .line_right {
    border-top: 5px solid #ec750e;
    margin-top: 20px;
    width: 60%;
    margin-left: 200px;
    margin-bottom: 100px;
  }

  .line_medium {
    border-top: 5px solid #067787;
    margin-top: 50px;
    margin-bottom: 10px;
  }
}

.title_history {
  width: 100%;
  height: auto;
  margin-top: 50px;
}

.title_history h1 {
  width: 50%;
  text-align: start;
  font-family: "MiFuentePersonalizada";
  font-size: 50px;
  margin-left: 150px;
  background-color: #ec750e;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  padding: 10px;
}

@media (max-width: 768px) {
  .title_history h1 {
    width: 90%;
    margin-left: 15px;
    font-size: 45px;
  }
}

.container_history {
  width: 80%;
  height: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
}

@media (max-width: 768px) {
  .container_history {
    width: 99%;
    height: 800px;
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.img_history_asociation {
  width: 100%;
  height: 700px;
}

.img_history_asociation img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .img_history_asociation {
    width: 100%;
    height: 400px;
  }
}

@media (max-width: 768px) {
  .img_history_asociation img {
    width: 100%;
    height: 100%;
  }
}

.history_asociation {
  position: absolute;
  width: 40%;
  height: 500px;
  border: 2px solid #f7f7f7;
  margin-left: 630px;
  background-color: #f7f7f7;
  border-radius: 20px;
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.history_asociation h3 {
  width: 100%;
  text-align: center;
  font-family: "Gotham Black";
  font-size: 30px;
  margin-top: 20px;
  color: black;
}

.history_asociation p {
  width: 80%;
  text-align: center;
  font-family: "Poppins";
  font-size: 15px;
  margin-top: 20px;
  color: black;
}

@media (max-width: 768px) {
  .history_asociation {
    margin-left: 10px;
    margin-top: 420px;
    width: 90%;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .history_asociation h3 {
    font-size: 20px;
    color: white;
  }
  .history_asociation p {
    font-size: 12px;
    color: white;
  }
}
