.intro_Aboutus{
    
    width: 100%;
    height: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

@font-face {
    font-family: 'MiFuentePersonalizada';
    src: url('../../Fonts/Bevan-Regular.ttf') format('truetype');
    /* Agrega más formatos y rutas para soporte de navegadores diferentes */
  }
  @font-face {
    font-family: 'Lexend';
    src: url('../../Fonts/LexendMega-VariableFont_wght.ttf') format('truetype');
    /* Agrega más formatos y rutas para soporte de navegadores diferentes */
  }
  
.intro_Aboutus p{
    font-size: 20px;
    width: 80%;
    height: auto;
    line-height: 1.5;
    font-family: 'Lexend';
    
}

.btn_donar_Aboutus {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 25px 20px 22px;
    box-shadow: rgba(10, 37, 64, 0.7) 0px -2px 6px 0px inset;
    background-color: #F3266A;
    border-color: #f32626;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 900;
    color: white;
    font-family: monospace;
    transition: transform 400ms cubic-bezier(.68,-0.55,.27,2.5), 
    border-color 400ms ease-in-out,
    background-color 400ms ease-in-out;
    word-spacing: -2px;
    margin-top: 20px;
    cursor:pointer;
  }
  
  @keyframes movingBorders {
    0% {
      border-color: #fce4e4;
    }
  
    50% {
      border-color: #ffd8d8;
    }
  
    90% {
      border-color: #fce4e4;
    }
  }
  
  .btn_donar_Aboutus:hover {
    background-color: #eee;
    transform: scale(105%);
    animation: movingBorders 3s infinite;
    color: black;
  }
  
  .btn_donar_Aboutus svg {
    margin-right: 11px;
    fill: rgb(255, 2, 2);
    transition: opacity 100ms ease-in-out;
  }
  
  .filled {
    position: absolute;
    opacity: 0;
    top: 20px;
    left: 22px;
  }
  
  @keyframes beatingHeart {
    0% {
      transform: scale(1);
    }
  
    15% {
      transform: scale(1.15);
    }
  
    30% {
      transform: scale(1);
    }
  
    45% {
      transform: scale(1.15);
    }
  
    60% {
      transform: scale(1);
    }
  }
  
  .btn_donar_Aboutus:hover .empty {
    opacity: 0;
  }
  
  .btn_donar_Aboutus:hover .filled {
    opacity: 1;
    animation: beatingHeart 1.2s infinite;
  }

  .section_cards_values{
    
    width: 100%;
    height: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #067787;
  }

  .card_value{
   border: 3px solid black;
   margin-top: 50px; 
   margin-bottom: 50px;
   height: 300px;
   
   
  }

  .card_value {
    position: relative;
    width: 400px;
    height: 250px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow: hidden; /* Oculta el exceso de la imagen */
    
  }
  .card_value img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ancho al 100% del contenedor */
    height: 100%; /* Altura automática para mantener la proporción */
    

  }

  .overlay {
    position: absolute;
    top: 50%; /* Coloca en el medio verticalmente */
    left: 50%; /* Coloca en el medio horizontalmente */
    transform: translate(-50%, -50%); /* Centra el contenido */
    text-align: center;
    z-index: 1;
    background-color:rgba(0, 0, 0, 0.7) ;
    z-index: 1;
    transition: opacity 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'MiFuentePersonalizada';
    
    
  }

  
  
  .overlay-text {
    font-size: 35px;
    color: white;
    font-weight: 900px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    opacity: 1; /* Mostrar por defecto */
    /* Agrega estilos adicionales según tu diseño */
    /* -webkit-text-stroke: 1px black; */
    
    
    
  }

  .card_value:hover .overlay-text {
    opacity: 0; /* Ocultar cuando se haga hover en la tarjeta */
  }
  
  .card_value svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card_value:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }

  
  
  .card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: Black;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lexend';

  }
  
  .card_value:hover .card__content {
    transform: rotateX(0deg);
    z-index: 2;
  }
  
  .card__title {
    margin: 0;
    font-size: 15px;
    color: white;
    font-weight: 700;
    
  }
  
  .card_value:hover svg {
    scale: 0;
  }
  
  .card__description {
    margin: 10px 0 0;
    font-size: 15px;
    color: white;
    line-height: 1.4;
  }

.section_workers{
    width: 100%;
    height: auto;
    
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.card_worker{
    width: 750px;
    height: 350px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.section_img_worker{
    width: 50%;
    height: 100%;
    
    
    

}

.section_content_worker{
    width: 50%;
    height: 100%;
    background-color: #FF961A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align: center;
    color: white;
    font-size: 16px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    font-family: 'MiFuentePersonalizada';
    
}

.name_worker{
    margin-top: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 10px;
}

.name_worker_two{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 10px;
}

.section_content_worker p{
    width: 70%;
}


  .img_worker {
    /* Estilos para la imagen */
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: 100%; /* Ocupa toda la altura del contenedor */
    object-fit: cover; /* Ajusta la imagen sin deformarla */
    
    
}

@media (max-width: 700px) {
    #card2,
    #card4 {
        display: flex;
        flex-direction: row;
    }

    #card2 .section_content_worker {
        order: 1; /* Cambia el orden, coloca la sección de contenido primero */
       
    }

    #card2 .section_img_worker {
        order: 2; /* Luego, la sección de la imagen */
        
    }

    #card4 .section_content_worker {
        order: 2; /* Cambia el orden, coloca la sección de contenido segundo */
    }

    #card4 .section_img_worker {
        order: 1; /* Luego, la sección de la imagen */
    }

    .section_content_worker{
        font-size: 13px;
    }
}

.section_img_worker {
    position: relative;
}

.triangle {
    position: absolute;
    top: 0;
    right: -50px;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 50px solid #FF961A; /* Color del triángulo */
    transform-origin: top left;
    transform: rotate(45deg);
}
#triangle3, #triangle4{
    
    position: absolute;
    top: 70px;
    right: 326px;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 50px solid #FF961A; /* Color del triángulo */
    transform-origin: top left;
    transform: rotate(225deg);
}


@media(max-width:768px){
    #triangle2 {
        top: 70px;
        right: 0;
        left:0;
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        border-left: 50px solid #FF961A; /* Color del triángulo */
        transform-origin: top left;
        transform: rotate(225deg);    
        
    }
    #triangle3{
    top: 0;
    right: -50px;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 50px solid #FF961A; /* Color del triángulo */
    transform-origin: top left;
    transform: rotate(45deg);

    }

    #triangle4{
    
        top: 70px;
        right: 0;
        left:0;
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        border-left: 50px solid #FF961A; /* Color del triángulo */
        transform-origin: top left;
        transform: rotate(225deg);
    }
}


  