.banner {
    position: relative;
  }
  
  .banner img {
    width: 100%;
  height: 600px;
   object-fit:fill;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
  }

  @font-face {
    font-family: 'Inria';
    src: url('../../Fonts/InriaSans-Regular.ttf') format('truetype');
    /* Agrega más formatos y rutas para soporte de navegadores diferentes */
  }
  @font-face {
    font-family: 'Single';
    src: url('../../Fonts/SingleDay-Regular.ttf') format('truetype');
    /* Agrega más formatos y rutas para soporte de navegadores diferentes */
  }
  
  .banner-text {
    position: absolute;
    top: 100px; /* Ajusta la posición vertical del texto */
    right: 0px; /* Posiciona el texto a 50px del borde derecho */
    color: white; /* Color del texto */
    font-size: 30px; /* Tamaño de fuente del texto */
    width: 30%; /* Ancho del texto */
    max-height: 4em; /* Altura máxima de 4 líneas */
    overflow: hidden;
    text-overflow: ellipsis; /* Agrega puntos suspensivos si el texto se recorta */
    display: -webkit-box; /* Propiedad específica para navegadores webkit */
    -webkit-line-clamp: 4; /* Límite de líneas para navegadores webkit */
    -webkit-box-orient: vertical; /* Orientación vertical del texto */
    background: rgba(0, 0, 0, 0.7); /* Fondo negro transparente */
    padding: 200px 10px 180px 60px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
    font-family: 'Inria';
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);

}

.banner-title {
  position: absolute;
  top: 190px; /* Posición del título sobre la imagen */
  right: 0px; /* Ajusta la posición horizontal del título */
  transform: translateX(-15%);
  color: white; /* Color del título */
  font-size: 45px; /* Tamaño de fuente del título */
  z-index: 1; /* Coloca el título encima de la imagen */
  font-family: 'Single'; /* Utiliza tu fuente personalizada */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra para mejorar la legibilidad */
}

@media(max-width:768px){
    .banner img {
    height: 500px;}


.banner-text {
    padding: 190px 10px 130px 90px;
    font-size: 20px;
    width: 50%;
}
}



/* .banner-text::before {
    content: '';
    position: absolute;
    top: 0;
    left: -30%;
    width: 30%;
    height: 50%;
    background: rgba(0, 0, 0, 0.5);
    transform: skewX(20deg);
    z-index: -1;
  }

  .banner-text::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -30%;
  width: 30%;
  height: 50%;
  background: rgba(0, 0, 0, 0.5);
  transform: skewX(-20deg);
  z-index: -1;
  } */